.home-page {
  margin-top: 30px;
}

.container {
  width: 100%;
  font-family: Arial;
}

.text-block {
  z-index: 100;
  position: absolute;
  color: black;
  font-size: 24px;
  font-weight: bold;
  right: 10px;
  bottom: 10px;
  margin: 0;
  background-color: black;
  opacity: 0.7;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}

.grid-item {
  cursor: pointer;
  border: 1px solid gray;
  font-size: 30px;
  margin: 10px;
  text-align: center;
  position: relative;
  width: 45vw;
}

* {
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}